main {
    background-image: url("../../../../Images/Lambo.png");
    width: 100%;
    min-height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}